body {

	background-image: url(../img/g12.png);

}

/* Top nav and header
-------------------------------------------------- */
.container {

	width: 80%;

}
.bs-docs-nav {
  padding-bottom: 1%;
  background: url(../img/g26.png);
  background-size: 100% 120%;
  border:0;
}
.bs-docs-nav .navbar-collapse {
  border-color: #585858;
  font-size: 1em;
}

.bs-docs-nav .navbar-collapse p{
	margin: 10px 0px 10px;
	color: #A2A2A2;
}

.bs-docs-nav .navbar-brand {
  color: #fff;
}

.bs-docs-nav .navbar-nav > li > a {
  color: #A2A2A2;
}

.bs-docs-nav .navbar-nav > li > a:hover {
  color: #fff;

}
.bs-docs-nav .navbar-nav > .active > a,
.bs-docs-nav .navbar-nav > .active > a:hover {
	color: #D8D7D7;
	background-color: rgba(8, 8, 8, 0);
}	
.bs-docs-nav .navbar-toggle {
  border-color: #563d7c;
}
.bs-docs-nav .navbar-toggle:hover {
  background-color: #463265;
  border-color: #463265;
}

.navbar-nav {
	
	float: right;
	
}

a.facebook {
	margin-bottom: 1em;
 	display: inline-block;
 	float: right;
	width: 2em;
	height: 2em;
	margin-left: 1px;
	vertical-align: middle;
 	background: url(../img/social/facebook-icon.png) left bottom no-repeat;
 	background-size: 70% 70%;
}
a.twitter {
	margin-bottom: 1em;
 	display: inline-block;
 	float: right;
	width: 2em;
	height: 2em;
	margin-left: 1px;
	vertical-align: middle;
 	background: url(../img/social/twitter-icon.png) left bottom no-repeat;
 	background-size: 70% 70%;
}
/* Page headers */
.bs-header {
  padding: 10em 0 0;
  font-size: 16px;
  color: #5a5a5a;
  text-align: center;


}

.bs-header h1 {
  color: #563d7c;
}
.bs-header p {
  font-weight: 300;
  line-height: 1.5;
}
.bs-header .container {
  position: relative;
}

.bs-docs-section + .bs-docs-section {
  padding-top: 80px;
}

#quicksearch {

	margin-top: 4em;
}
#quicksearch .row {
	
	background-image: url(../img/g328.png); /* fallback */	
	background-image: url(../img/g328.png), -webkit-linear-gradient(to bottom, #5C6688 0%,#222729 100%); /* Chrome 10+, Saf5.1+ */
	background-image: url(../img/g328.png),    -moz-linear-gradient(to bottom, #5C6688 0%,#222729 100%); /* FF3.6+ */
	background-image: url(../img/g328.png),     -ms-linear-gradient(to bottom, #5C6688 0%,#222729 100%); /* IE10 */
	background-image: url(../img/g328.png),      -o-linear-gradient(to bottom, #5C6688 0%,#222729 100%); /* Opera 11.10+ */
	background-image: url(../img/g328.png),         linear-gradient(to bottom, #5C6688 0%,#222729 100%); /* W3C */
	background-size: 100% auto;
	background-repeat:no-repeat;
	margin-right: 0;
	margin-left: 0;
}
#quicksearch ul {
	float: right;
	display: inline;
	height: auto !important;
	padding-bottom: 0;
	overflow: visible !important;
	list-style: none;
	margin-bottom: 0;
}
#quicksearch li {

	float: left;
	text-align: center;
	margin-right: 1em;
	margin-bottom: 4px;
} 

#quicksearch h3 {
	font-size: 1em;
	color: #F3F3F3;
	margin-right: 1em;
	margin-top: 1.4em;
} 

#quicksearch .form-control{
	
	margin-top: 1.2em;
	background-image: -webkit-linear-gradient(bottom, #9C9C9C 12%, #E9E9E9 56%, #BEBBBB 97%);
	border-color: #3A3E41;
	width: 15em;
	height: 24px;
} 	

#quicksearch .navbar-btn {

	margin-top: 1.3em;
	margin-bottom:0;


}

#quicksearch .btn {
	background-image: -webkit-linear-gradient(bottom, #9C9C9C 12%, #E9E9E9 56%, #BEBBBB 97%);
	padding: 0px 9px;
	font-size: 14px;
	font-weight: normal;

	}
/*carousel 1
#page { margin: 0 auto; width: 800px; background: #fff; padding:40px; margin-top: 20px; margin-bottom: 20px; border: 1px solid #777; box-shadow: #999 1px 1px 3px; }
#page h1 { font-weight: normal; font-size: 32px; letter-spacing: -2px; margin:0 0 20px 0; border-bottom: 1px solid #ddd; padding:0 0 10px 0; }
#page h2 { font-weight: bold; font-size: 22px; letter-spacing: -1px; font-style: italic; margin:40px 0 0 0; }
#page h3 { float: right; }
#page h3 a { font-weight: normal; font-size: 16px; color:#004499; }
#page h3 a:hover { color:#333; }*/

/*carusel 2*/

#wrapper {
				background-color: rgba(49, 47, 47, 0.53);
				border: 10px solid #E0E0E0;
				padding: 0;
				/*width: 800px;
				height: 400px;*/
				margin: 0 0 0 0;
				position: relative;				
				overflow: hidden;

			}
			#images-wrapper {
				width: 70%;
				height: 100%;
				float: left;
				overflow: hidden;
			}
			#texts-wrapper {
				width: 30%;
				height: 100%;
				float: right;
			}
			
			#images img {
				display: block;
			}
			
			#texts > div {
				width: 300px;
				height: 25em;
				margin-right: 1em;
				position: relative;
			}
			#texts > div > div {
				width: 300px;
				position: absolute;
				left: 30px;
				bottom: 125px;
			}
			
			#texts a {
				color: #fff;
				font-size: 18px;
				text-shadow: 0 1px 2px rgba(0,0,0,0.5);
				text-decoration: none;
				text-align: center;
				line-height: 40px;
				outline: none;
				display: block;
				background-color: #888;
				border: 1px solid #666;
				width: 175px;
				height: 40px;
				left: 700px;
				top: 260px;
				
				border-radius: 5px;
				box-shadow: 0 2px 5px rgba(0,0,0,0.5);
				background-image: -moz-linear-gradient(bottom, #666 25%, #888 75%);
				background-image: -webkit-linear-gradient(bottom, #666 25%, #888 75%);
				background-image: -ms-linear-gradient(bottom, #666 25%, #888 75%);
				background-image: linear-gradient(bottom, #666 25%, #888 75%);
			}
			#texts a:hover {
				background-color: #777;
				background-image: -moz-linear-gradient(top, #666 25%, #888 75%);
				background-image: -webkit-linear-gradient(top, #666 25%, #888 75%);
				background-image: -ms-linear-gradient(top, #666 25%, #888 75%);
				background-image: linear-gradient(top, #666 25%, #888 75%);
			}

#autos ul{

	margin-top: 2em;
}

#autos li{

	height: 222px;
	width: 23%;
	background: rgba(92, 92, 92, 0.29);
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
	padding: 3px;
	position: relative;
	text-align: center;
	overflow: hidden;
}

footer {

	background: rgba(177, 169, 169, 0.64);
	position: absolute;
	width: 100%;


}

footer .row, .container {

	width: 100%;

}